
@font-face {
    font-family: 'SVN-Big Noodle Titling';
    src: url('SVN-BigNoodleTitling.woff2') format('woff2'),
        url('SVN-BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

