@font-face {
    font-family: 'zheard-heart';
    src: url('CourierNewPS-BoldMT.woff2') format('woff2'),
        url('CourierNewPS-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
