@font-face {
    font-family: 'UTM Neutra';
    src: url('UTMNeutra.woff2') format('woff2'),
        url('UTMNeutra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Transformer';
    src: url('SVN-Transformer.woff2') format('woff2'),
        url('SVN-Transformer.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

